---
ansible_host: 172.16.34.3

network_hostname: sneakyserv

network_static_dns_resolvers:
  - 172.16.34.1

network_static_routes:
  - to: default
    via: 172.16.34.1

network_static_interfaces:
  - name: bond0
    type: bond
    bond_mode: 802.3ad
    bond_members:
      - enp0s20f2
      - enp0s20f3
  - name: mgmt0
    type: vlan
    parent: bond0
    id: 30
    addrs:
      - 172.16.34.3/24
  - name: lan0
    parent: bond0
    type: vlan
    id: 10
    addrs:
      - 10.10.0.2/20
  - name: trust0
    parent: bond0
    type: vlan
    id: 15
    addrs:
      - 10.11.0.2/20

network_input_policy: ACCEPT

cni_networks:
  - name: trust
    parent: trust0
  - name: lan
    parent: lan0

xbps_repoconf_repos_enabled:
  - 00-repository-main
  - 10-repository-nonfree

xbps_repository_main: https://{{xbps_repository_address}}/current/musl
xbps_repository_nonfree: https://{{xbps_repository_address}}/current/musl/nonfree
xbps_repository_address: repo-fastly.voidlinux.org
xbps_repository_port: 443

nomad_volumes:
  - name: filespace_cfg
    path: /nomad/filespace_cfg
    read_only: false
  - name: filespace_data
    path: /nomad/filespace_data
    read_only: false
  - name: prometheus_data
    path: /nomad/prometheus_data
    read_only: false
  - name: grafana_data
    path: /nomad/grafana_data
    read_only: false
  - name: moneyprinter_data
    path: /nomad/moneyprinter_data
    read_only: false
  - name: terrastate_data
    path: /nomad/terrastate
    read_only: false
  - name: awardcast_data
    path: /nomad/awardcast
    read_only: false
